<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Vorp¿
      {% endblock %}
    </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script>
document.addEventListener("DOMContentLoaded", function() {
    // Select the element (or elements) that have the alien effect.
    var alienWordElems = document.querySelectorAll(".alien-word");
    alienWordElems.forEach(function(elem) {
        elem.addEventListener("mouseenter", function() {
            elem.classList.add("human");
        });
    });
});
</script>

  </head>
  <body style="background-color: black; color: white">
    <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <span class="alien-word">VORP¿</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_user' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<br>

    <div class="container">{% block content %}

 {% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
